{% extends "layouts/layout.html" %}
{% load static %}

{% block title %}Testimonials - AgriCulture{% endblock %}
{% block body_class %}testimonials-page{% endblock %}

{% block content %}

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url('{% static 'assets/img/page-title-bg.webp' %}');">
      <div class="container position-relative">
        <h1>Testimonials</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="current">Testimonials</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Testimonials Section -->
    <section class="testimonials-12 testimonials section" id="testimonials">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>TESTIMONIALS</h2>
        <p>Necessitatibus eius consequatur</p>
      </div><!-- End Section Title -->

      <div class="testimonial-wrap">
        <div class="container">
          <div class="row">
            {% for testimonial in testimonials %}
            <div class="col-md-6 mb-4 mb-md-4">
              <div class="testimonial">
                {% if testimonial.image %}
                <img src="{{ testimonial.image.url }}" alt="Testimonial author">
                {% else %}
                <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" alt="Testimonial author">
                {% endif %}
                <blockquote>
                  <p>
                    “{{ testimonial.message }}”
                  </p>
                </blockquote>
                <p class="client-name">{{ testimonial.name }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section><!-- /Testimonials Section -->

{% endblock %}